* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    color:aliceblue;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.image{
    display: flex;
    align-items: center;
    width: 80px;
}

header{
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{

    font-size: 35px;
    font-weight: 100;
    color:white;
}

.desplegable{
    display: none;
}

.nav-bar ul{
    padding: 15px 25px;
    display: flex;
}

.nav-bar li a{
    display: block;
}

.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 15%;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: black;
    background: white;
    
}

.nav-bar ul li a.activar{
    color: black;
    background: white;
    
}

@media only screen and (max-width: 897px){
    .desplegable{
        padding: 25px 25px;
        display: block;
        cursor: pointer;
    }

    
    .desplegable .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .nav-bar{
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        height: 0;
        position: absolute;
        top: 100px;
        left: auto;
        right: 0px;
        width: 50vw;
        background: rgba(0,0,0,0.7);
        backdrop-filter: blur(5px);
        transition: 0.5s;
        overflow: hidden;
    }


    .nav-bar.activar {
        height: 300px;
        width: 80%;
        
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.activar ul {
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 10px;
    }
}

svg{
    color: black;
    width: 28px;
    height: 28px;
}


p{
    color: white;
}


.pie-pagina{
    width: 100%;
    background-color: black;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom:  25px;
    font-size: 20px;
}


.pie-pagina .grupo-1 .box p{
    color:white;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #ED1C24;   
    text-align: center;
    transition: all 250ms ease;
    border-radius: 15%;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: yellow;
}

.pie-pagina .grupo-2{
    background-color: #333333;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media only screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}



.slider-box{
    width: 1280px;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
    border-radius: 10px;
}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li{
    width: 100%;
    list-style: none;
}


.slider-box img{
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0%{ margin-left: 0;}
    20%{ margin-left: 0;}

    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left: -300%;}
    100%{ margin-left: -300%;}

    
    
}

@media(max-width:897px){
    .slider-box{
        width: 100%;
        
    }
}







img {
    width: 100%;
    display: block;
}

h1{
    text-align: center;
    color: black;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.card{
    background-color: #7e7c7c;
    margin-bottom: 10px;
    border-radius: 8px;
}

.card-header{
    height: 200px;
    overflow: hidden;
}
.card-header img{
    border-radius: 8px 8px 0 0;
}

.card-body{
    padding: 20px 15px;
    
    text-align: justify;
}
.card-title{
    color: rgb(233, 233, 233);
}

.btn{
    background-color: #ED1C24;   
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 8px;
}

@media(min-width: 900px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .card{
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card-description{
        flex-grow: 1;
    }
}

